#birthdate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#birthdate-button {
    background-color: rgb(212, 150, 150);
    border-radius: 0.75em;
    color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 2em;
}

#birthdate-header {
    margin: 0px;
    color: black;
}

#footer-text {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-style: italic;
    text-align: center;
}

#header-text {
    color: whitesmoke;
    font-size: 6em;
    text-align: center;
}

.birthdate-select {
    padding: 0.5em 1em;
    margin: 1em 0.5em;
}

body {
    background-color: rgb(211,144,149);
    font-family: 'Amatic SC', cursive;
}

select {
    background-color: rgb(200,150,170);
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0.25em;
    color: whitesmoke;
}

h3 {
    font-size: 3em;
}