#footer-text {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-style: italic;
    text-align: center;
}

#header-text {
    color:#fff;
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    text-align: center;
}

body {
    background-color: rgb(109, 58, 116);
}