@font-face {
    font-family: "SpaceAndAstronomy";
    src: url("../Fonts/SpaceAndAstronomy.ttf");
}

#date-container {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}

#date-button {
    background-color: rgb(212, 150, 150);
    border-radius: 0.75em;
    color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 2em;
}

#date-header {
    margin: 0;
    color: black;
}

#footer-text {
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(223, 160, 160);
    font-family: "SpaceAndAstronomy";
    font-size: 1em;
    margin: 0 auto;
    opacity: 0.7;
}

#image-1 {
    margin: auto;
    width: 50%;
    height: auto;
    max-width: 500px;
}

#image-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    z-index: -1;
}

#link {
    outline: none;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    border: 2px solid rgb(201, 136, 136);
    color: black;
}

a:link, a:visited, a:focus {
    background: rgb(223, 160, 160);
}
  
a:hover {
    background-color: rgb(223, 172, 172);
}

#link-container {
    margin: 1.3em auto;
    text-align: left;
}

#moon-container {
    background-color: rgb(223, 160, 160);
    border-radius: 0.75em;
    height: fit-content;
    margin: 3em 10%;
    text-align: center;
    vertical-align: auto;
}

#moon-head {
    background-color:rgb(219, 148, 148);
    font-family: 'SpaceAndAstronomy', serif;
    font-size: 2em;
    margin: 0 auto;
    padding: 0.5em 0;
}

#moon-img {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
   
}

#moon-text {
    border-radius: 0.75em;
    margin: 0;
    padding: 0.25em 0.5em;
}

#title-text {
    color: whitesmoke;
    font-size: 6em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.date-select {
    padding: 0.5em 1em;
    margin: 0.5em 0.25em;
}

body {
    background-color: rgb(211,144,149);
    font-family: 'Amatic SC', cursive;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

h3 {
    font-size: 2em;
}

select {
    background-color: rgb(223, 160, 160);
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0.25em;
    color: whitesmoke;
}

@media (orientation: portrait) {
    #date-container{
        width: 100%;
        height: auto;
        margin: 0;
    }

    #date-header {
        font-size: 2em;
    }

    .date-select, button {
        font-size: 1em;
    }

    #header {
        font-size: 0.8em;
    }

}